html, body {
    height: 100%;
    width: 600px;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    text-align: justify;
}


p {
    text-align: justify;
}

h2 {
    text-align: justify;
}

h3 {
    text-align: justify;
}
